.theme1 {
    --color: #aaa;
    --border-width: 1px;
}

.theme1 table {
    empty-cells: hide;
    border-collapse: collapse;
    min-width: 900px;
}

.theme1 caption {
    font-weight: bold;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 1em;
}

.theme1 th, .theme1 td {
    padding: 0.4em 0.6em;
    line-height: 1;
    font-weight: normal;
    border: var(--border-width) solid var(--color);
}

.theme1 td {
    text-align: right;
}

.theme1 tbody th[scope] {
    text-align: left;
    vertical-align: top;
}

.theme1 thead tr:not(:first-child) th[scope="col"] {
    border-top-width: 0;
}

.theme1 thead tr:nth-last-child(2) th {
    border-bottom-width: 0;
}

.theme1.lastDimSize2 tbody td:nth-of-type(2n),
.theme1.numRowDims1.lastDimSize2 thead tr:last-child th:nth-child(2n+3),
.theme1.numRowDims2.lastDimSize2 thead tr:last-child th:nth-child(2n+4) {
    font-size: 0.8em;
}

.theme1 th.last, .theme1 th[scope="row"].last ~ td {
    font-weight: bold;
}